{% if page.footer %}
    {% block footer %}
        <footer role="contentinfo">
            <div class="footer {{ container }}" id="footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="border-top"></div>
                        {% if is_front %}
                        <div class="social-icons">
                            <span>Stay Connected</span>
                            <ul>
                                <li><a href="https://twitter.com/plaudonio" class="icon-1"></a></li>
                                <li><a href="https://www.facebook.com/plaudonio" class="icon-2"></a></li>
                                <li><a href="https://www.linkedin.com/in/pasquale-laudonio-14243620/" class="icon-linked-in"></a></li>
                            </ul>
                        </div>
                        {% endif %}
                        <span><a class="footer-logo"><span>maria</span>consulting</a><span>&copy; 2020, 1 Chelsfield House, Congreve Street, London SE17 1SX | <a href="/privacy-policy" rel="noindex, nofollow">Privacy Policy</a><br/></span></span>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
{% endif %}
