<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="border-bottom"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <strong class="title-1">Strategy and Mission</strong>
            <p class="lead font-1">Senior Drupal consultant from London with over 10 years experience, since our first Drupal project in 2005 for VCCP.</p>
            We develop quick tailored content management systems (CMS) specially for clients who cannot afford huge budgets, but still wanted something very good and functional. The purpose of Drupal is to use a open source software, which is a huge collection of modules all written in PHP.
            The real cost of this CMS is actually all in the consultancy, that's why nowadays to get the best result you need to search for the best Drupal Consultants.<br>
            <a href="/services/web-strategy" class="btn"><span>Our Strategy</span></a>
        </div>
        <div class="col-sm-6 col-md-3">
            <h2 class="indent-1">Key Services</h2>
            <ul class="list">
                <li><a href="/open-source-strategy">Installing Drupal</a></li>
                <li><a href="/services/custom-modules">Custom Modules</a></li>
                <li><a href="/services/theming">Theming</a></li>
                <li><a href="/services/multi-language">Multi Language</a></li>
                <li><a href="/support">Linux Apache Mysql PHP</a></li>
                <li><a href="/services/database-integration">Database Integration</a></li>
                <li><a href="/services/content-management">Content Management</a></li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3 blockquote">
            <blockquote>“We recently expanded our Business also in the Financial Sector. Innovative Investment such as Peer to Peer Lending.”</blockquote>
            <span class="font-1">Pasquale Laudonio, <a href="/services/peer-peer-lending" class="link">invest now</a></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border-bottom"></div>
        </div>
    </div>

    <div class="row">
        <div class="block-2">
            <div class="col-sm-6 col-md-3">
                <div class="clearfix">
                    <img src="/themes/maria_consulting/img/page1-icon1.png" alt="">
                    <h2>My London <br>Clients</h2>
                </div>
                <p class="lead">I have worked on many Drupal projects, most of my clients are located in London.</p>
                Personally I prefer to work in London, but occasionally I had to travel in Hertfordshire and West Sussex. I can do it for a couple of months, but if I find the project interesting and the company good then I could also extend it.<br>
                <a href="/projects" class="link-2">My Portfolio</a>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="clearfix">
                    <img src="/themes/maria_consulting/img/page1-icon2.png" alt="">
                    <h2>Strategic <br>Growth</h2>
                </div>
                <p class="lead">At the moment I'm self employed, but I'm thinking big.</p>
                As managing director of Maria Consulting Ltd, I set up this company because I think I got great potential to become one of the best Drupal consultant in London, potentially if the business grows I could employ more people.<br>
                <a href="/services/integrated-content-strategy" class="link-2">Integrated Content Strategy</a>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="clearfix">
                    <img src="/themes/maria_consulting/img/page1-icon3.png" alt="">
                    <h2>Content <br>Management</h2>
                </div>
                <p class="lead">My main objective is to delivery a CMS that is easy to use, update and maintain.</p>
                The CMS should allow to the client to easily create new sections in the web site, update content, nodes, taxonomies, views. The code should be always written to facilitate software updates, never touch the code!<br>
                <a href="/services/information-architecture" class="link-2">Information Architecture</a>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="clearfix">
                    <img src="/themes/maria_consulting/img/page1-icon4.png" alt="">
                    <h2>Website <br>Accessibility</h2>
                </div>
                <p class="lead">Drupal is a fantastic framework with lof of tools for SEO.</p>
                I usually work on the client side, rarely I work from home unless is agreed in advance with the client. At the end of the project I always meet the client's expectations for their web site Accessibility and SEO standards.<br>
                <a href="/services/search-engine-optimization" class="link-2">Search Engine Optimization</a>
            </div>
        </div>
    </div>
</div>